body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* 背景色可以自行更改 */
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 2rem;
    background-color: #fff;
}

section {
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #007bff;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.profile-photo {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1rem auto;
}